Package: com.yulkytulky.safarifind
Name: SafariFind
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Easily access Safari's find feature!
Maintainer: YulkyTulky
Author: YulkyTulky
Section: Tweaks
